{% extends "layout.html" %}

{% block content %}
{% if userLoggedIn == true %}
<div>
    {{ userLoggedIn }}
    Logged in as: {{ fbUserName }}, id: {{ fbId }}
</div>
<div>
    Threads: total unread: {{ messages.unread }}, unseen: {{ messages.unseen }}
    <ul>
        {% for thread in messages.threads %}
        {% if thread.unread > 0 %}
        <li>
            {{ thread.users }}: unread: {{ thread.unread}}, unseen: {{ thread.unseen }}
            <ul>
                {% for message in thread.messages %}
                <li>{{ message.created_time }}: {{ message.from }}: {{ message.message }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div>
    Facebook <a href="{{ logoutUrl }}">logout</a>
</div>
{% endif %}
{% if userLoggedIn == false %}
<div>
    Facebook <a href="{{ loginUrl }}">login</a>
</div>
{% endif %}
{% endblock %}
