{% extends "layout.html" %}

{% block content %}
{% if userLoggedIn == true %}
<div class="row">
    <a href="/angular">Angular version</a>
</div>
<div class="row">
    Logged in as: {{ fbUserName }}, id: {{ fbId }}
</div>
<div class="row">
    Threads: total unread: {{ messages.unread }}, unseen: {{ messages.unseen }}
    <ul>
        {% for thread in messages.threads %}
        {% if thread.unread > 0 %}
        <li>
            {{ thread.users }}: unread: {{ thread.unread}}, unseen: {{ thread.unseen }}
            <ul>
                {% for message in thread.messages %}
                <li>
                    {{ message.created_time }}: {{ message.from }}: <span class="text-info">{{ message.message }}</span>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="row">
    Facebook <a href="{{ logoutUrl }}">logout</a>
</div>
{% endif %}
{% if userLoggedIn == false %}
<div class="row">
    Facebook <a href="{{ loginUrl }}">login</a>
</div>
{% endif %}
{% endblock %}
