{% extends "layout.html" %}

{% block title %}silex-hriste{% endblock %}

{% block content %}
{% if userLoggedIn == true %}
<div class="row">
    {% if not showAllMessages %}
    <span class="small-6 columns text-left">
        <a href="/facebook?showAllMessages=1">Show all</a>
    </span>
    {% endif %}
    {% if showAllMessages %}
    <span class="small-6 columns text-left">
        <a href="/facebook?showAllMessages=0">Show unread</a>
    </span>
    {% endif %}
    <span class="small-6 columns text-right">
        <a class="text-left" href="/angular/">Angular</a>
    </span>
</div>
<div class="row">
    <div class="small-12 columns">
        Threads: total unread: {{ messages.unread }}, unseen: {{ messages.unseen }}
        <ul class="no-bullet">
            {% for thread in messages.threads %}
            {% if thread.unread > 0 or showAllMessages %}
            <hr>
            <li>
                <span class="label round primary">{{ thread.users }}: </span>
                <span class="small-text"> unread: {{ thread.unread }}, unseen: {{ thread.unseen }}</span>
                <ul class="no-bullet">
                    {% for message in thread.messages %}
                    {% if (message['unread'] or showAllMessages) %}
                    <li>
                        <span class="label success">{{ message.from }}:</span>
                        <span class="small-text">{{ message.created_time }}:</span>

                        <div class="message-text">{{ message.message | raw }}</div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        Logged in as: {{ fbUserName }}, id: {{ fbId }}
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        Facebook <a href="{{ logoutUrl }}">logout</a>
    </div>
</div>
{% endif %}
{% if userLoggedIn == false %}
<div class="row">
    Facebook <a href="{{ loginUrl }}">login</a>
</div>
{% endif %}
{% endblock %}
