{% extends "bodylayout.twig" %}

{% block title %}silex-hriste{% endblock %}

{% block content %}
    {#{% if userLoggedIn == false %}#}
        <div class="row">
            <a class="button tiny" href="{{ loginUrl }}">Facebook login</a>
        </div>
    {#{% endif %}#}
{% endblock %}
